.gradient-line-left {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40%;
    height: 0.1rem; 
    background: linear-gradient(to left, rgb(163, 163, 163) 30%, rgb(163, 163, 163) 30%);
}

.gradient-line-right {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40%;
    height: 0.1rem; 
    background: linear-gradient(to right, rgb(163, 163, 163) 30%, rgb(163, 163, 163) 30%);
}

.gradient-line-vertical-left {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 0.05rem;
    height: 570%; 
    background: linear-gradient(to bottom, rgb(163, 163, 163) 30%, rgb(163, 163, 163) 30%);
}

.gradient-line-vertical-right {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 0.05rem;
    height: 570%; 
    background: linear-gradient(to bottom, rgb(163, 163, 163) 30%, rgb(163, 163, 163) 30%);
}