@font-face {
  font-family: 'Master-Vintage-Font-by-Keithzo-BF656790851386f';
  src: url('./bremlinregular-z8yma.otf') format('opentype');
}

#title {
    font-family: 'Holtwood One SC', serif;
  }

#title2 {
    font-family: 'Monoton', sans-serif;
  }
