@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

:root{
  --dark-clr: #ed673b;
  --light-clr:#fefafd;
}
html, body{
  height:100%;
}

body{
  padding:0;
  margin:0;
  background:radial-gradient(circle, #888, #444 60%);
}

.chess-icon{
  height:125px;
  width:125px;
  border:8px solid #333;
  border-radius:20px;
  background-image:conic-gradient(var(--dark-clr) 0, var(--dark-clr) 90deg,var(--light-clr) 90deg, var(--light-clr) 180deg, var(--dark-clr) 180deg, var(--dark-clr) 270deg,var(--light-clr) 270deg, var(--light-clr) 360deg);
  animation-name:loading;
  animation-duration:5s;
  animation-iteration-count:infinite;
}

@keyframes loading{
  20% {
    transform:rotate(90deg);
  }
  40%{
    transform:rotate(180deg);
  }
  60%{
    transform:rotate(270deg);
  }
  80%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

p {
  font-family:'Heebo',Arial;
  margin-top:1.5em;
  color:white;
  font-size:1.5em;
}

.icon-container {
    margin-bottom: 1em;
}

.quote-container {
    min-height: 200px;
}
