.gradient-line-left2 {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 37%;
    height: 0.1rem; 
    background: linear-gradient(to left, rgb(62, 62, 62) 30%, rgb(62, 62, 62) 30%);
}

.gradient-line-right2 {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 37%;
    height: 0.1rem; 
    background: linear-gradient(to right, rgb(62, 62, 62) 30%, rgb(62, 62, 62) 30%);
}